<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js" integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/syncStudenti.js"></script>
<script src="/js/graphStudenti.js"></script>
<script src="/js/sendNamesFileCSV.js"></script>
<script src="/js/appello.js"></script>
<script src="/js/esame.js"></script>
<script src="/js/progettista.js"></script>
<script src="/js/studente.js"></script>
<script src="/js/header.js"></script>
<script src="/js/sendNameCSVProgettista.js"></script>
</body>

</html>