<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registro Appelli</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/visualizzaAppelli.css">
    <link rel="stylesheet" href="css/creaAppello.css">
    <link rel="stylesheet" href="/css/appello.css">
    <link rel="stylesheet" href="/css/updateEsame.css">
    <link rel="stylesheet" href="/css/progettisti.css">
    <link rel="stylesheet" href="/css/studenti.css">
    <link rel="stylesheet" href="/css/updateStudente.css">
    <link rel="stylesheet" href="/css/updateAppello.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>  
</head>

<body>
    <div id="c-navbar">
        <nav>
            <h2 id="logo">RegisterApp
                <box-icon name='game' animation='tada' color='#f7444e' id="boxIcon">
                </box-icon>
                <div style="font-size: 18px; margin-top: 10px;"><%= courseName %></div>
            </h2>
            <ul id="menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/visualizzaAppelli" class="nav-link">Visualizza Appelli</a></li>
                <li><a href="/creaAppello" class="nav-link">Crea Appello</a></li>
                <li><a href="/studenti" class="nav-link">Studenti</a></li>
                <li><a href="/progettisti" class="nav-link">Progettisti</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>